@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

$primary-color:  #808080;
$secondary-color: #FFC0CB;
$primary-font:  'Roboto Slab', serif;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin transition{
    transition: .5s ease-in;
}

@function set-textColor($color) {
    @if (lightness($color) > 40%) {
        @return #fff;
    } @else {
        @return #000;
    }
}
@mixin media-md {
    @media only screen and (min-width: 768px) and (orientation: portrait),
       only screen and (min-width: 768px) and (orientation: landscape) {
        @content;
       }
}

@mixin media-lg {
    @media screen and (min-width: 1024px) {
        @content;
    }
}
@mixin media-xl {
    @media screen and (min-width: 1600px) {
        @content;
    }
}